<div>
    <h2 data-translate="bookingApp.booking.home.title">Bookings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="booking.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bookingApp.booking.home.createLabel">
                        Create new Booking
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateStart"><span data-translate="bookingApp.booking.dateStart">Date Start</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateEnding"><span data-translate="bookingApp.booking.dateEnding">Date Ending</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="bookingApp.booking.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.id"><span data-translate="bookingApp.booking.customer">Customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fiel.id"><span data-translate="bookingApp.booking.fiel">Fiel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="booking in vm.bookings track by booking.id">
                    <td><a ui-sref="booking-detail({id:booking.id})">{{booking.id}}</a></td>
                    <td>{{booking.dateStart | date:'medium'}}</td>
                    <td>{{booking.dateEnding | date:'medium'}}</td>
                    <td data-translate="{{'bookingApp.Status.' + booking.status}}">{{booking.status}}</td>
                    <td>
                        <a ui-sref="customer-detail({id:booking.customer.name})">{{booking.customer.name}} {{booking.customer.lastName}}</a>
                    </td>
                    <td>
                        <a ui-sref="field-detail({id:booking.fiel.name})">{{booking.fiel.sport}} - {{booking.fiel.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="booking-detail({id:booking.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.edit({id:booking.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="booking.delete({id:booking.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
