<div>
    <h2 data-translate="bookingApp.field.home.title">Fields</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="field.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="bookingApp.field.home.createLabel">
                        Create new Field
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="bookingApp.field.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="bookingApp.field.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sport"><span data-translate="bookingApp.field.sport">Sport</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="field in vm.fields track by field.id">
                    <td><a ui-sref="field-detail({id:field.id})">{{field.id}}</a></td>
                    <td>{{field.name}}</td>
                    <td>{{field.address}}</td>
                    <td data-translate="{{'bookingApp.Sport.' + field.sport}}">{{field.sport}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="field-detail({id:field.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="field.edit({id:field.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="field.delete({id:field.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
